page-login {
    .done{
        background: #AF1685;
    }    
    
    .icon{
        color: #AF1685;
        margin: 4px;
    
    }
    
    .inputbox{
        border-style:ridge;
        border-color: #B1E4E3; 
    }

    .logo{
        margin: auto;
    }
}
