page-exercise-pref-setup {
  .steps {
    font-size: 13px;
    font-weight: bold;
    color: #888B8D;
    text-align: center;
  }
  h5 {
    text-align: center;
    font-size: 1.1em;
    color: #AF1685;
    margin: 6px;
  }
}
