page-challenge-details {
  h5 {
    color: #AF1685;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: #888B8D;
  }
  .date {
    font-size: 16px;
    color: #AF1685;
    font-weight: bold;
  }
}
