page-privacy-setup {
  .steps {
    font-size: 13px;
    font-weight: bold;
    color: #888B8D;
    text-align: center;
  }
  .firstpara {
    text-align: center;
    font-weight: bold;
    color: #AF1685;
  }
  .done {
    background: #AF1685;
  }
}
